<template>
    <div class="aa">
        <div>{{ agent }}</div>
        <div>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</div>
    </div>

</template>

<script>
  export default {
    data: function () {
      return {
        agent: 'agent'
      }
    },
    name: "agent"
  }
</script>

<style scoped>
    .aa {
        font-size: 1rem;
        color: red;
    }
</style>
