<template>
    <div>
        <div>这是home</div>
        <div>aaabbbbbbbbbbbbbbbbbbbaa</div>
    </div>

</template>

<script>
  export default {
    name: "home"
  }
</script>

<style scoped>

</style>
