<template>
    <div id="app">
        <div>app</div>
        <div>
            <router-link class="nav-item" to="/home">首页</router-link>
            <router-link class="nav-item" to="/agent">内容页</router-link>
        </div>
        <router-view></router-view>
    </div>
</template>

<script>
  export default {
    name: "App",
  }
</script>

<style scoped>
#app{
    font-size: 1rem;
    color: black;
}
</style>
